<div class="flex flex-col md:flex-row">
  <% if package.registry_url.present? %>
    <%= link_to package.registry_url,
      class: 'icon-link md:mx-2 my-2 flex-1 bg-grey-lightest shadow-lg text-center',
      title: 'Registry',
      target: '_blank' do
    %>
      <div class="m-2">
        <div class="h-16 w-16" data-feather="package"></div>
        <p class="mt-1">NPM Package</p>
      </div>
    <% end %>
  <% end %>

  <% if package.repository_url.present? %>
    <%= link_to package.repository_url,
      class: 'icon-link md:mx-2 my-2 flex-1 bg-grey-lightest shadow-lg text-center',
      title: 'Repository',
      target: '_blank' do
    %>
      <div class="m-2">
        <div class="h-16 w-16" data-feather="code"></div>
        <p class="mt-1">Code Repository</p>
      </div>
    <% end %>
  <% end %>

  <% if package.homepage_url.present? %>
    <%= link_to package.homepage_url,
      class: 'icon-link md:mx-2 my-2 flex-1 bg-grey-lightest shadow-lg text-center',
      title: 'Homepage',
      target: '_blank' do
    %>
      <div class="m-2">
        <div class="h-16 w-16" data-feather="home"></div>
        <p class="mt-1">Package Homepage URL</p>
      </div>
    <% end %>
  <% end %>

  <% if package.license.present? %>
    <div class='md:mx-2 my-2 flex-1 bg-grey-lightest shadow-lg text-center'>
      <div class="m-2">
        <div class="h-16 w-16" data-feather="file-text"></div>
        <p class="mt-1">License: <%= package.license %></p>
      </div>
    </div>
  <% end %>
</div>
