<% cache package do %>
  <div class="m-4 bg-grey-lightest shadow-lg">
    <div class="flex flex-col md:flex-row">
      <div class="md:-ml-2 mt-2 md:rounded-r-sm p-2 shadow-lg bg-blue">
        <%= link_to package.name, package, class: 'text-black hover:text-smoke font-bold no-underline' %>
        <p class="mt-1 text-xs text-grey-black">
          @<%= package.version %> by <%= package.author.name %>
        </p>
      </div>

      <div class="flex-1"></div>

      <div class="mt-2 mr-2 self-center md:self-start">
        <% if package.homepage_url %>
          <%= link_to package.homepage_url, class: 'icon-link', title: 'Homepage', target: '_blank' do %>
            <div data-feather="home"></div>
          <% end %>
        <% end %>

        <% if package.repository_url %>
          <%= link_to package.repository_url, class: 'icon-link', title: 'Repository', target: '_blank' do %>
            <div data-feather="code"></div>
          <% end %>
        <% end %>

        <%= link_to package.registry_url, class: 'icon-link', title: 'Registry', target: '_blank' do %>
          <div data-feather="package"></div>
        <% end %>
      </div>
    </div>

    <div class="flex flex-col md:flex-row">
      <p class="m-4 flex-1 self-center font-medium text-grey-darkest"><%= package.short_description %></p>
      <p class="m-4 self-center text-grey-dark">Score: <%= package&.score || 'Not Calculated' %></p>
    </div>
  </div>
<% end %>
