<%= form_with model: package, local: true do |form| %>
  <%= form.hidden_field :name, value: package.name %>

  <div class="flex flex-col md:flex-row md:rounded-r-none mx-4">
    <button class="hidden flex-1 flex-row justify-center button shadow mt-4 link-with-icon bg-green-light hover:bg-green"
            disabled
            data-target="new-package.submitButton">
      <span>Looks good to us! Click here to submit.</span>
    </button>
  </div>
<% end %>

<div class="mt-6 md:mx-4 mx-2 bg-grey-lightest shadow-lg">
  <div class="flex flex-col md:flex-row">
    <div class="md:-ml-2 mt-2 md:rounded-r-sm p-2 shadow-lg bg-blue">
      <p data-target="new-package.namePreview" class="text-grey-black font-bold">
        <%= package.name || 'an-awesome-package' %>
      </p>
      <p class="mt-1 text-xs text-grey-black">
        @<%= package.version || 'version' %> by <%= package.author&.name || 'Author Name' %>
      </p>
    </div>

    <div class="flex-1"></div>
  </div>

  <div class="flex flex-col md:flex-row">
    <p class="m-4 self-center font-medium text-grey-darkest">
      <% if package.short_description && package.errors[:short_description].none? %>
        <%= package.short_description %>
      <% else %>
        This will be updated with your submitted package information once you enter a package
        name into the form above!
      <% end %>
    </p>
  </div>
</div>

<div class="mt-2 mx-2">
  <%= render 'packages/external_links', package: package %>
</div>

<% if package.long_description %>
  <div class="mt-2 md:mx-4 mx-2">
    <div class="bg-grey-lightest shadow-lg">
      <div class="p-4 markdown-body">
        <%= raw(markdown(package.long_description)) %>
      </div>
    </div>
  </div>
<% end %>
