<div class="p-3 sticky pin-t w-full">
  <%= form_with url: packages_path,
    method: :get,
    data: {
      action: [
        'ajax:send->replaceable#replaceContentWithLoader',
        'ajax:complete->replaceable#replaceLoaderWithContent'
      ].join(' ')
    } do |form|
  %>
    <div class="flex shadow bg-grey-lightest border rounded h-12 w-full px-4">
      <span class="my-3" data-feather="search"></span>
      <%= form.text_field :q,
        class: 'bg-transparent border-none w-full h-12 pl-3 text-grey-darker focus:outline-none',
        data: {
          controller: 'debounceable',
          action: 'input->debounceable#debouncedSubmit'
        },
        placeholder: 'Search for a package...' %>
    </div>
  <% end %>
</div>
