var contentContainer = document.querySelector('#package-list');
var paginationContainer = document.querySelector('#pagination-container');
var paginationInfo = document.querySelector('#pagination-info');

if (contentContainer !== null) {
  contentContainer.innerHTML = "<%= j render @packages, cached: true %>";
}

if (paginationContainer !== null) {
  paginationContainer.innerHTML = "<%= j pagy_nav(@pagy).html_safe %>";
}

if (paginationInfo !== null) {
  paginationInfo.innerHTML = "<%= j pagy_info(@pagy).html_safe %>";
}
