<div data-controller="replaceable">
  <%= render 'search' %>

  <% if @pagy.pages > 1 %>
    <div class="flex justify-end items-end mr-8">
      <div id="pagination-info" class="text-xs" data-target="replaceable.content">
        <%= pagy_info(@pagy).html_safe %>
      </div>
    </div>
  <% end %>

  <div class="mx-6 mb-6" data-controller="placeholdable">
    <div data-target="replaceable.content">
      <div id="package-list" data-target="placeholdable.container">
        <%= render @packages, cached: true %>
      </div>

      <div data-target="placeholdable.placeholder">
        <h2 class="text-center mt-8">No packages found.</h2>
      </div>
    </div>

    <div class="flex justify-center">
      <span data-target="replaceable.loader" class="hidden mt-6 w-24 h-24 spinning" data-feather="loader"></span>
    </div>
  </div>

  <% if @pagy.pages > 1 %>
    <div class="flex justify-center mb-4">
      <div id="pagination-container" data-target="replaceable.content">
        <%= pagy_nav(@pagy).html_safe %>
      </div>
    </div>
  <% end %>
</div>
