<section data-controller="new-package" class="p-6 flex flex-col h-full">
  <h2 class="text-center pb-6">Submit a StimulusJS package!</h2>

  <%= form_with model: @package,
    url: package_validations_path,
    method: :post,
    data: { controller: 'input-enabled-button', target: 'new-package.form' } do |form|
  %>
    <div class="flex flex-col md:flex-row md:rounded-r-none mx-4">
      <%= form.text_field :name,
        autocomplete: :off,
        autofocus: true,
        class: 'flex-1 input text-center w-full focus:outline-none',
        data: {
          target: 'new-package.disableable input-enabled-button.input',
          action: 'input->new-package#updatePreview'
        },
        placeholder: 'an-awesome-package' %>
      <button class="button link-with-icon flex-row justify-center sm:w-full md:w-auto mt-2 md:mt-0 md:border-l-0 md:rounded-l-none hover:bg-smoke-lightest"
        data-target="new-package.disableable input-enabled-button.button">
        <span>Pull from NPM</span>
        <span class="ml-2" data-feather="download-cloud"></span>
      </button>
    </div>
  <% end %>

  <div class="flex-1 flex flex-col">
    <div data-target="new-package.preview">
      <div id="message-container" class="mx-4 mt-4"></div>

      <div id="package-preview-container" class="w-full">
        <%= render 'preview', package: @package %>
      </div>
    </div>

    <span data-target="new-package.loader" class="hidden mt-6 w-24 h-24 spinning self-center" data-feather="loader"></span>
  </div>
</section>
