<% content_for :title, @package.name %>

<div class="my-6 mx-4">
  <%= render 'shared/flash_messages' %>
</div>

<% cache @package do %>
  <div class="flex flex-col">
    <div class="md:mx-4 mx-2 bg-grey-lightest shadow-lg">
      <div class="flex flex-col md:flex-row">
        <div class="md:-ml-2 mt-2 md:rounded-r-sm p-2 shadow-lg bg-blue">
          <p class="text-black md:text-2xl text-lg font-bold"><%= @package.name %></p>
          <p class="mt-1 text-xs text-grey-black">
            @<%= @package.version %> by <%= @package.author.name %>
          </p>
        </div>
      </div>

      <div class="flex flex-col md:flex-row">
        <p class="m-4 flex-1 self-center font-medium text-grey-darkest"><%= @package.short_description %></p>
        <p class="m-4 self-center text-grey-dark">Score: <%= @package&.score || 'Not Calculated' %></p>
      </div>
    </div>

    <div class="mx-2 mt-2">
      <%= render 'external_links', package: @package %>
    </div>

    <div class="md:mx-4 mx-2 mt-2">
      <div class="bg-grey-lightest shadow-lg">
        <div class="p-4 markdown-body">
          <%= raw(markdown(@package.long_description)) %>
        </div>
      </div>
    </div>
  </div>
<% end %>
