var previewContainer = document.querySelector('#package-preview-container');
var messageContainer = document.querySelector('#message-container');

if (previewContainer !== null && messageContainer !== null) {
  <% if @package.errors.any? %>
    messageContainer.innerHTML = "<%= j render 'shared/error_messages', object: @package, title: 'Issue submitting package' %>";
  <% else %>
    messageContainer.innerHTML = "<%= j render 'shared/flash_messages' %>";
  <% end %>

  previewContainer.innerHTML = "<%= j render 'packages/preview', package: @package %>";
}
