<% if object.errors.any? %>
  <div class="bg-red-lightest border-l-4 border-red text-red-dark m-4 p-4">
    <p class="font-bold pb-2"><%= local_assigns.fetch :title, 'Error(s) found' %>:</p>
    <% object.errors.full_messages.each do |error_message| %>
      <p class="pl-6">- <%= error_message %></p>
    <% end %>
  </div>
<% end %>
