<% flash.each do |type, message| %>
  <%= tag.div class: "#{flash_class(type)} border-l-4 p-4 flex items-center",
    data: { controller: 'removable' } do %>
    <p class="flex-1"><%= message %></p>
    <div class="icon-link hover:cursor-pointer flex items-center">
      <span data-action="click->removable#remove" data-feather="x"></span>
    </div>
  <% end %>
<% end %>
