<nav class="flex flex-col sm:h-full">
  <%= link_to root_path, class: 'self-center p-4 w-3/4 sm:w-full' do %>
    <%= image_tag 'text_logo.svg' %>
  <% end %>

  <div class="px-4 py-4 hidden sm:flex">
    <%= image_tag 'slogan.svg' %>
  </div>

  <div class="flex-1 self-stretch"></div>

  <% unless current_page? new_package_path %>
    <div class="hidden self-center sm:flex">
      <%= link_to new_package_path, class: 'link-with-icon text-grey-dark hover:text-grey-darker pb-2' do %>
        <span data-feather="plus"></span>
        <span>Submit a Package</span>
      <% end %>
    </div>
  <% end %>

  <%= link_to 'https://gitlab.com/stim-awesome/stim-awesome',
    target: '_blank',
    class: 'hidden sm:flex p-3 justify-center no-underline text-grey-darkest border-t hover:bg-smoke-lightest' do %>
    <div class="h-12 w-12 pr-2" data-feather="gitlab"></div>
    <div class="flex flex-col h-full font-logo">
      <h3 class="flex-1 text-center">Contribute to</h3>
      <h3 class="flex-1 text-center">StimAwesome</h3>
    </div>
  <% end %>
</nav>
