/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/preflight";
 */
@tailwind preflight;

/**
 * This injects any component classes registered by plugins.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/components";
 */
@tailwind components;

/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 *
 * .btn { ... }
 * .form-input { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "components/buttons";
 * @import "components/forms";
 */
.link-with-icon {
  @apply .no-underline .inline-flex .items-center;
}

.icon-link {
  @apply .no-underline .text-grey-darkest;

  &:hover {
    @apply .text-blue-dark;
  }
}

.button {
  @apply .p-2 .border-2 .rounded-sm;

  &:disabled {
    @apply .bg-smoke-lightest;

    &:hover {
      @apply .cursor-not-allowed;
    }
  }
}

.input {
  @apply .appearance-none .border-2 .rounded-sm .py-2 .text-grey-darkest;

  &:disabled {
    @apply .bg-grey-lightest;

    &:hover {
      @apply .cursor-not-allowed;
    }
  }
}

.spinning {
  animation: spin 1.5s linear infinite;
}

span.page {
  a {
    @apply .no-underline .text-blue;
  }

  &:not(.next):not(.prev):not(.gap) {
    @apply .border .p-2 .border-grey-light .rounded-sm;

    &.active {
      @apply .bg-grey-lighter;
    }

  }

  &.disabled {
    @apply .text-grey;
  }
}

.markdown-body {
  h1, h2, h3, h4, h5, h6 {
    @apply .my-4;
  }

  a {
    @apply .no-underline .text-blue-dark;

    &:hover {
      @apply .text-blue;
    }
  }

  p {
    @apply .mb-2;
  }

  code {
    @apply .bg-grey-lighter;
  }

  .highlight {
    @apply .bg-grey-lighter .m-2 .p-2 .overflow-x-auto;
  }

  .highlight .err {
    @apply .text-red-dark .bg-grey-lighter .overflow-x-auto;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/utilities";
 */
@tailwind utilities;

/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example :
 *
 * .bg-pattern-graph-paper { ... }
 * .skew-45 { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "utilities/background-patterns";
 * @import "utilities/skew-transforms";
 */
