<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? "#{yield(:title)} | " : '' %>Stim Awesome</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16" />

    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="initial-scale=1.0" />

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application' %>
  </head>

  <body class="bg-blue-lightest font-sans">
    <div class="sm:flex">
      <div class="flex-no-shrink sm:w-64 sm:h-screen sm:ml-3 shadow-lg bg-blue-lighter">
        <%= render 'shared/sidebar' %>
      </div>

      <div class="flex-1 h-screen shadow-inner overflow-auto">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
